$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .selected {
        background-color: lightblue;
      }
    }
  }
}
